/*=====================================
	WEB FONTS
=====================================*/
/* Raleway Thin */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

/* Cinzel */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");



@import url("global_header_footer.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 16px;
}


/*=====================================
	Showcase Styling
=====================================*/
#showcase {
	background-image: url("../img/question-marks.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	padding: 95px 30px 30px 30px;
	color: #FFF;
	width: 100%;
}

#showcase .profile {
	border-right: 2px var(--orangeLight) solid;
	padding: 20px;
	text-align: center;
}

#showcase .profile img {
	width: 40%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px #FFF solid;
}

#showcase .profile hr {
	margin: 15px 0;
}

#showcase .profile p {
	line-height: 24px;
}

#showcase article {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--separator);
	margin-left: 10px;
	border-radius: 3px;
	border: 2px var(--orangeLight) solid;
	text-align: justify;
}

#showcase .about {
	grid-column: 2 / span 3;
	padding: 20px; 
}


/*=====================================

	MEDIA QUERIES

=====================================*/
@media screen and (min-width: 320px) and (max-width: 768px) {
	#showcase article {
		display: block;
	}

	#showcase .profile {
		border-right: none;
		border-bottom: 2px var(--orangeLight) solid;
	}
}
