/*=====================================
	GLOBAL VARIABLES
=====================================*/
:root {
	--headerGradient: -webkit-linear-gradient(top, #4A5D68, #35424A);
	--orangeDark: #F50;
	--orangeLight: #F90;
	--linkHover: #BBB;
	--separator: #444;
	--shortcut: #FF0;
}


/*=====================================
	Header & Navigation Menu styling
=====================================*/
header {
	background: var(--headerGradient);
	border-bottom: 3px var(--orangeLight) solid;
	color: #FFF;
	/*min-height: 60px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 45px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

header .current {
	color: var(--orangeDark);
	font-weight: bold;
}

header li {
	display: inline-block;
	padding: 0 10px;
}

header li img {
	position: relative;
	top: 0.25em;
	margin-top: -2.5em;
}

header a {
	text-decoration: none;
	color: #FFF;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
}

header .shortcut {
	color: var(--shortcut);
}

header a:hover {
	color: var(--linkHover);
}

header nav .dropbtn::after {
	content: " ▼";
}

header nav .dropdown:hover .dropdownContent {
	display: block;
}

header nav .dropdownContent {
	display: none;
	position: absolute;
	z-index: 1;
	margin-left: 110px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

header nav .dropdownContent a {
	display: block;
	padding: 0.6em;
	text-align: center;
	background-color: #FFF;
	color: #000;
	-webkit-transition: background-color 0.3s, border 0.3s;
	-moz-transition: background-color 0.3s, border 0.3s;
	-o-transition: background-color 0.3s, border 0.3s;
}

header nav .dropdownContent a:hover {
	display: block;
	background-color: var(--linkHover);
}

header nav .dropdownContent a:active {
	background-color: #00F;
	color: #FFF;
}

header #mobileNav, #mobileNavLinks {
	display: none;
}


/*=====================================
	Footer Styling
=====================================*/
footer {
	background-color: var(--orangeDark);
}

footer p {
	text-align: center;
	color: #FFF;
	padding: 1em 0;
	font-weight: bold;
}


/*=====================================

	MEDIA QUERIES

=====================================*/
@media screen and (min-width: 320px) and (max-width: 768px) {
	header {
		padding: 10px 30px;
	}

	header h1 {
		font-size: 1.5em;
	}

	header nav {
		display: none;
	}

	header #mobileNav {
		display: block;
		font-size: 1.2rem;
	}

	header #mobileNav:hover {
		color: var(--linkHover);
		cursor: pointer;
	}

	#mobileNavLinks .current {
		color: var(--orangeDark);
		font-weight: bold;
	}

	#mobileNavLinks {
		position: fixed;
		padding-top: 57px; /* -3px due to header border */
		background-color: var(--separator);
		width: 100%;
		border-bottom: 3px var(--orangeLight) solid;
	}

	#mobileNavLinks a {
		display: block;
		color: #FFF;
		text-decoration: none;
		padding: 10px 30px;
	}

	#mobileNavLinks .langBtn {
		display: none;
	}

	.langBtn img,
	#lang img {
		position: relative;
		top: 0.25em;
		margin-top: -2.5em;
	}
}
