body {
	font-family: "Chakra Petch";
}

.theme-dark {
	--text-link: #32FF47;
	--level-up-green: #32FF47;
	--app-mount: #06030D;
	--input-bg-color: #211C2B;
	--panel-bg-color: #14111A;
	--background-primary: transparent !important;
	--background-secondary: transparent !important;
	--background-tertiary: transparent !important;
	--deprecated-store-bg: transparent !important;
}


/*************************************
 *
 * Scroll Bars
 *
*************************************/
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece {
	border: none !important;
	background-color: var(--level-up-green) !important;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
}

::-webkit-scrollbar {
	max-width: 5px;
}


/*************************************
 *
 * App Mount
 *
*************************************/
.theme-dark .typeWindows-1za-n7 {
	background-color: var(--app-mount);
}

.theme-dark, #app-mount {
	background-image: url("https://i.imgur.com/NCsSfxq.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
}

.theme-dark .card-GqTca8 {
	background-color: var(--panel-bg-color);
}

.theme-dark .shareButton-3w0M74 {
	background-color: var(--level-up-green);
}

.theme-dark .embedPill-1Zntps,
.theme-dark .blockquoteDivider-2hH8H6 {
	background-color: var(--level-up-green);
}

/*.friendsTable-133bsv {background-color: var(--level-up-green);}*/

.theme-dark .friendsTableHeader-32yE7d header {
	color: var(--level-up-green);
}

.theme-dark .container-1D34oG {
	background-color: transparent;
}

.theme-dark .wordmarkWindows-1v0lYD svg {
	color: var(--level-up-green);
}

.theme-dark .channel-2QD9_O:hover div.layout-2DM8Md {
	background-color: var(--input-bg-color);
	border-left: 3px solid var(--level-up-green);
	border-right: 3px solid var(--level-up-green);
}

.theme-dark .channel-2QD9_O a.selected-aXhQR6 {
	background-color: var(--input-bg-color);
	border-left: 3px solid var(--level-up-green);
}

.theme-dark .container-3qKHyN input {
	background-color: var(--input-bg-color);
}

.theme-dark .container-3qKHyN .resultFocused-3aIoYe {
	background-color: var(--input-bg-color);
}

.theme-dark .container-3qKHyN .resultFocused-3aIoYe .icon-30q1Or {
	color: var(--level-up-green);
}

.theme-dark .addGamePopout-2RY8Ju {
	background-color: var(--panel-bg-color);
}

.theme-dark .lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--level-up-green);
}

.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s {
	background-color: var(--panel-bg-color);
}

.theme-dark .container-3gCOGc {
	background-color: transparent;
}

.theme-dark .clickable-1JJAn8.container-2Pjhx- a:active, .selected-aXhQR6.container-2Pjhx- .layout-2DM8Md {
	border-left: 3px solid var(--level-up-green);
	background-color: var(--input-bg-color);
}

.theme-dark .expandedFolderBackground-2sPsd- {
	background-color: var(--input-bg-color);
}

.theme-dark .header-zu8eWb {
	color: var(--level-up-green);
}

.theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	background-color: var(--input-bg-color);
}


/* Bandaged BD */
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
	background-color: var(--level-up-green);
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
	background-color: var(--level-up-green);
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
	background-color: var(--input-bg-color);
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
	color: var(--level-up-green);
}


/*************************************
 *
 * Server/Chat Header
 *
*************************************/
.theme-dark .header-2o-2hj,
.theme-dark .title-3qD0b-,
.theme-dark .container-1r6BKw,
.theme-dark .themed-ANHk51 {
	background-color: var(--panel-bg-color);
	border-bottom: 1px solid var(--level-up-green);
}

/* Search Bar */
.theme-dark .searchBar-6Kv8R2 {
	background-color: var(--panel-bg-color);
	border-bottom: 1px solid var(--level-up-green);
	box-sizing: border-box;
}

.theme-dark .input-1Rv96N {
	background-color: var(--input-bg-color);
}

.theme-dark .header-2o-2hj:hover {
	background-color: var(--input-bg-color);
}

.theme-dark .search-2oPWTC {
	background-color: var(--input-bg-color);
}

.theme-dark .divider-3FBTu8 {
	background-color: var(--level-up-green);
}

.theme-dark .input-3Xdcic {
	background-color: var(--input-bg-color);
}

.theme-dark .container-3ayLPN {
	background-color: var(--panel-bg-color);
}

.theme-dark .container-3ayLPN .header-2N-gMV {
	color: var(--level-up-green);
}

.theme-dark .container-3ayLPN .option-96V44q::after {
	background: none;
}

.theme-dark .container-3ayLPN .resultsGroup-r_nuzN .option-96V44q:hover, .selected-rZcQL {
	border-left: 3px solid var(--level-up-green);
	border-right: 3px solid var(--level-up-green);
}

.theme-dark .container-3ayLPN .resultsGroup-r_nuzN:last-child {
	border-top: 1px solid var(--level-up-green);
}

.theme-dark .container-3ayLPN div.searchLearnMore-3SQUAj svg {
	color: var(--level-up-green);
}


/*************************************
 *
 * Guilds
 *
*************************************/
.theme-dark .wrapper-1Rf91z,
.theme-dark .guilds-1SWlCJ {
	background-color: var(--app-mount);
}

.theme-dark .guildSeparator-3s64Iy {
	background-color: var(--level-up-green);
}

/* Selector */
.theme-dark .item-2hkk8m {
	background-color: var(--level-up-green);
}

/*.theme-dark .blobContainer-239gwq {
	border: 1px solid var(--level-up-green);
}*/

/*.theme-dark .circleIconButton-jET_ig .wrapper-2B2Wx1 {
	border: 1px solid #0f0;
}*/

.theme-dark .circleIconButton-jET_ig {
	background-color: var(--input-bg-color);
}

.theme-dark .selected-ugP_am {
	background-color: var(--level-up-green);
}

.theme-dark .wrapper-1BJsBx {
	background-color: var(--input-bg-color);
}


/*************************************
 *
 * Members List
 *
*************************************/
.theme-dark .membersWrap-2h-GB4 {
	background-color: var(--panel-bg-color);
	border-left: 1px solid var(--level-up-green);
}

.theme-dark .layout-2DM8Md:hover {
	background-color: var(--input-bg-color);
	border-right: 3px solid var(--level-up-green);
}

.theme-dark .clickable-1JJAn8.container-2Pjhx- a:active, .selected-aXhQR6.container-2Pjhx- .layout-2DM8Md {
	/*border-left: none;*/
	border-right: 3px solid var(--level-up-green);
}

/* Role Name */
.theme-dark .membersGroup-v9BXpm {
	color: var(--level-up-green);
}

/* User Popout */
.theme-dark .userPopout-3XzG_A .headerNormal-T_seeN {
	background-color: var(--app-mount);
}

.theme-dark .userPopout-3XzG_A .bodyInner-245q0L {
	background-color: var(--panel-bg-color);
}

.theme-dark .body-3iLsc4 {
	background-color: var(--panel-bg-color);
}

.theme-dark .userPopout-3XzG_A .bodyInner-245q0L .bodyTitle-Y0qMQz {
	color: var(--level-up-green);
}

.theme-dark .userPopout-3XzG_A .bodyInner-245q0L textarea {
	background-color: var(--input-bg-color);
}

.theme-dark .userPopout-3XzG_A .footer-1fjuF6 {
	background-color: var(--app-mount);
}

.theme-dark .userPopout-3XzG_A .footer-1fjuF6 input {
	background-color: var(--input-bg-color);
}


/*************************************
 *
 * Channels Area
 *
*************************************/
.theme-dark .container-PNkimc {
	/*background-color: var(--panel-bg-color);*/
}

.theme-dark .name-IbjUBS,
.theme-dark .icon-WnO6o2 {
	color: var(--level-up-green);
}

.theme-dark .wrapper-1ucjTd div.content-3at_AU:hover {
	border-left: 3px solid var(--level-up-green);
}

.theme-dark .modeSelected-1zApJ_ .content-3at_AU {
	background-color: var(--input-bg-color);
	border-left: 3px solid var(--level-up-green);
}

/* Connected Users */
.theme-dark .voiceUser-14U_Ns {
	background-image: linear-gradient(to right, #14111AFF, #14111A33);
	border-left: 3px solid var(--level-up-green);
	border-radius: 5px;
}

/* User Limit */
.theme-dark .children-Bmpf2Q {
	border-radius: 15px;
}

/* Current Users */
.theme-dark .users-i_3-kL {
	background-color: var(--input-bg-color);
	color: #FFF;
}

/* Total Users */
.theme-dark .total-3tKGEB {
	background-color: var(--level-up-green);
	color: #000;
}

.theme-dark .total-3tKGEB::after {
	border-right-color: var(--level-up-green);
}

/* Voice Connected */
.theme-dark .container-1giJp5 {
	background-color: var(--app-mount);
	border-top: 1px solid var(--level-up-green);
	border-bottom: 1px solid var(--level-up-green);
}

.theme-dark .container-1giJp5 button {
	color: var(--level-up-green);
}

/* Connection Info */
.theme-dark .container-2x5lvQ .header-2C89wJ {
	background-color: var(--level-up-green);
}

.theme-dark .headerPlaying-j0WQBV {
	background-color: var(--level-up-green);
}

.theme-dark .container-2x5lvQ section {
	background-color: var(--panel-bg-color);
	color: var(--level-up-green);
}

/* Activity */
.theme-dark .activityPanel-28dQGo {
	background-color: var(--app-mount);
	border-top: 1px solid var(--level-up-green);
	border-bottom: 1px solid var(--level-up-green);
}

.theme-dark .activityPanel-28dQGo button {
	color: var(--level-up-green)
}


/*************************************
 *
 * Text Area
 *
*************************************/
.theme-dark .icon-22AiRD {
	color: var(--level-up-green);
}

.theme-dark .jumpToPresentBar-G1R9s6 {
	background-color: var(--level-up-green);
}

.theme-dark .jumpToPresentBar-G1R9s6 button {
	color: #000;
}

/*.theme-dark .uploadModal-2ifh8j .scrollableContainer-2NUZem {
	border-radius: 0;
}*/

.theme-dark .scrollableContainer-2NUZem {
	background-color: var(--panel-bg-color);
}

.theme-dark .scrollableContainer-2NUZem .textArea-12jD-V {
	background-color: var(--input-bg-color);
	/*border: 1px solid var(--level-up-green);*/
}

/* Code Markdown */
.theme-dark .markup-2BOw-j code {
	background-color: #282923;
}

/* Buttons */
.theme-dark .buttons-3JBrkn .button-3AYNKb {
	color: var(--level-up-green);
}

.theme-dark .attachButtonPlus-jWVFah {
	fill: var(--level-up-green);
}

.theme-dark .contents-18-Yxp .sprite-2iCowe,
.theme-dark .contents-18-Yxp .da-sprite {
	filter: none;
}

/* New Messages Popup */
.theme-dark .newMessagesBar-mujexs,
.theme-dark .barBase-39XTcM {
	background-color: var(--level-up-green);
}

/* New Unreads */
.theme-dark .unreadBar-3YD_k9 {
	background-color: var(--level-up-green);
}

/* Pinned Messages */
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
	background-color: var(--level-up-green);
}

/*.theme-dark .scrollerWrap-2lJEkd .firefoxFixScrollFlex-cnI2ix {
	background-color: var(--panel-bg-color);
}*/

.theme-dark .messagesPopoutWrap-1MQ1bW .themeGhostHairline-DBD-2d {
	background-color: var(--panel-bg-color);
}

.theme-dark .footer-1kmXd4 {
	background-color: var(--app-mount);
}

.theme-dark .headerText-2F0828 {
	color: var(--level-up-green);
}


/*************************************
 *
 * User Info/Settings Bar
 *
*************************************/
/*.theme-dark .container-3baos1 {*/
.theme-dark .container-3baos1 {
	background-color: var(--app-mount);
	border-top: 1px solid var(--level-up-green);
	border-bottom: 1px solid var(--level-up-green);
}

/* Buttons: Mute, Deafen, User Settings */
.theme-dark .container-3baos1 button {
	color: var(--level-up-green);
}


/*************************************
 *
 * User Settings Panel
 *
*************************************/
.theme-dark .header-2RyJ0Y {
	color: var(--level-up-green);
}

.theme-dark .separator-gCa7yv {
	background-color: var(--level-up-green);
}

.theme-dark .closeButton-1tv5uR {
	border: 2px solid var(--level-up-green);
}

.theme-dark .wrapper-3jrx9n {
	border: 2px solid var(--level-up-green);
}

.theme-dark .wrapper-3jrx9n .selected-mKYnfr {
	background-color: var(--level-up-green);
}

/* Buttons */
.theme-dark .checkboxEnabled-CtinEn, .theme-dark .valueChecked-m-4IJZ {
	background-color: var(--level-up-green);
}

.theme-dark .checkboxEnabled-CtinEn, .theme-dark .valueUnchecked-2lU_20 {
	background-color: var(--input-bg-color);
	/*border: 2px solid var(--level-up-green);
	box-sizing: border-box;*/
}

.theme-dark .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
	background-color: var(--level-up-green);
	border-color: var(--level-up-green);
}

.theme-dark .unfollowButton-2uoMXv {
	color: #FFF;
	background-color: var(--level-up-green);
}

/* Sliders */
.theme-dark div.barFill-23-gu- {
	background-color: var(--level-up-green);
}

.theme-dark div.bar-2Qqk5Z {
	background-color: var(--input-bg-color);
}

/* Checkbox */
.theme-dark .cardPrimaryEditable-3KtE4g {
	background-color: var(--input-bg-color);
}

.theme-dark .card_3Qj_Yx {
	background-color: var(--level-up-green);
}

/* Select/Option */
.theme-dark .select-2TCrqx {
	background-color: var(--input-bg-color);
}

/* Search Box */
.theme-dark .searchBox-3Y2Vi7 {
	background-color: var(--input-bg-color);
}

.theme-dark .searchBox-3Y2Vi7 svg {
	color: var(--level-up-green);
}

.theme-dark .questionMark-CWEQZn {
	background-color: var(--level-up-green);
}


/*************************************
 *
 * Modals
 *
*************************************/
/* User Info */
.theme-dark .inner-1ilYF7 {
	background-color: var(--app-mount);
}

.theme-dark .body-3ND3kc {
	background-color: var(--panel-bg-color);
}

.theme-dark .userInfoSection-2acyCx textarea {
	background-color: var(--input-bg-color);
}

/* User Header when playing */
.theme-dark .topSectionPlaying-1J5E4n {
	background-color: var(--level-up-green);
}

/* Connected Accounts */
.theme-dark .connectedAccounts-repVzS div.flex-1xMQg5 {
	border: 1px solid var(--level-up-green);
}

/* Emoji Picker */
.theme-dark .emojiPicker-3m1S-j,
.theme-dark .stickyHeader-1SS0JU,
.theme-dark div.category-2U57w6 {
	background-color: var(--panel-bg-color);
	color: #C0C0C0;
}

.bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
	background-color: transparent;
}

.theme-dark .emojiPicker-3m1S-j, .theme-dark .stickyHeader-1SS0JU, .theme-dark div.category-2U57w6 {
	color: var(--level-up-green);
}

.theme-dark .emojiPicker-3m1S-j .infoBar-U6oBFk {
	border-top: 2px solid var(--level-up-green);
	border-bottom: 2px solid var(--level-up-green);
	background-color: var(--input-bg-color);
}

/* Emoji Search Bar */
.theme-dark .inner-3ErfOT {
	background-color: var(--input-bg-color);
}

.theme-dark div.categoryList-2Kzf65 {
	background-color: var(--panel-bg-color);
	border-right: 1px solid var(--level-up-green);
}

.theme-dark .emojiPickerListWrapper-fz8KNK {
	background-color: var(--panel-bg-color);
}

.theme-dark .inspector-sdLnLS {
	background-color: var(--input-bg-color);
	border-top: 1px solid var(--level-up-green);
}

.theme-dark .categoryWrapper-UZ5YNj {
	background-color: var(--input-bg-color);
}

.theme-dark .category-3Xkx2x {
	color: var(--level-up-green);
}

.theme-dark .drawerSizingWrapper-27qFHb {
	background-color: var(--app-mount);
}

.theme-dark .drawerSizingWrapper-27qFHb .nav-2KnmHb .contents-18-Yxp {
	color: var(--level-up-green);
}

.theme-dark .unicodeShortcut-15J8Ck {
	background-color: var(--input-bg-color);
}

.theme-dark .positionContainer-3unAXC {
	/*background-color: var(--app-mount);*/
}

.theme-dark polygon {
	color: var(--level-up-green);
}

.theme-dark .winButtonClose-1HsbF- polygon {
	color: var(--interactive-normal)
}

/* Upload */
.theme-dark .uploadModal-2ifh8j {
	background-color: var(--panel-bg-color);
}

.theme-dark .footer-3mqk7D {
	background-color: var(--panel-bg-color);
}

.theme-dark .inner-3nWsbo {
	border: 2px dashed var(--level-up-green);
}

.theme-dark .inner-3nWsbo textarea {
	background-color: var(--input-bg-color);
	margin-left: 4px;
}

/* Go Live/Changelog */
.theme-dark .modal-yWgWj- {
	background-color: var(--app-mount);
}

.theme-dark .modal-yWgWj- .footer-3rDWdC {
	background-color: var(--panel-bg-color);
}

.theme-dark .modal-yWgWj- input {
	background-color: var(--input-bg-color);
	border-color: var(--level-up-green);
}

/* Custom Status */
.theme-dark .root-1gCeng .headerContainer-3N-yWX,
.theme-dark .root-1gCeng .inner-ZyuQk0 {
	background-color: var(--panel-bg-color);
}

.theme-dark .root-1gCeng input,
.theme-dark .root-1gCeng .select-1Pkeg4 {
	background-color: var(--input-bg-color);
}

.theme-dark .root-1gCeng .footer-3rDWdC {
	background-color: var(--app-mount);
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:focus,
.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b {
	border-color: var(--level-up-green);
}

.theme-dark .root-1gCeng .input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
	border-color: var(--level-up-green);
}

.theme-dark .actionBody-1qj65C {
	font-size: 13px;
}

.theme-dark .actionButtons-14eAc_ button {
	color: #000;
}

.theme-dark .videoControls-2kcYic div {
	color: var(--level-up-green);
}

.theme-dark .mediaBarProgress-1xaPtl {
	background-color: var(--level-up-green);
}

.theme-dark .mediaBarProgress-1xaPtl:before, 
.theme-dark .mediaBarProgress-1xaPtl:after {
	background-color: var(--level-up-green);
}

.theme-dark .searchResultsWrap-2DKFzt {
	background-color: var(--panel-bg-color);
}

.theme-dark .searchResult-3pzFAB::before,
.theme-dark .searchResult-3pzFAB::after {
	background-color: none;
}

.theme-dark .autocomplete-1vrmpx {
	background-color: var(--panel-bg-color);
}

.theme-dark .autocompleteRow-2OthDa:nth-child(1) {
	background-color: var(--input-bg-color);
}

.theme-dark .contentTitle-2tG_sM {
	color: var(--level-up-green);
}

/* create a server */
.theme-dark .root-1gCeng .container-1CE3eW {
	background-color: var(--app-mount);
}

.theme-dark .root-1gCeng .itemContainer-1LSFks {
	background-color: var(--level-up-green);
}

.theme-dark .root-1gCeng .itemContainer-1LSFks .colorStandard-2KCXvj {
	color: #000;
}

.theme-dark .root-1gCeng .itemContainer-1LSFks:hover {
	background-color: var(--panel-bg-color);
}

.theme-dark .root-1gCeng .itemContainer-1LSFks:hover .colorStandard-2KCXvj {
	color: #FFF;
}

.theme-light .root-1gCeng .footer-2gL1pp,
.theme-dark .root-1gCeng .footer-2gL1pp {
	background-color: var(--app-mount);
}


/*************************************
 *
 * Context Menu
 *
*************************************/
.theme-dark .contextMenu-HLZMGh {
	background-color: var(--panel-bg-color);
}

/*.theme-dark .contextMenu-HLZMGh .checkboxInner-3yjcPe span {
	background-color: var(--level-up-green);
}*/

.theme-dark .itemGroup-1tL0uz:first-child {
	border-top: none;
}

.theme-dark .itemGroup-1tL0uz {
	border-top: 1px solid var(--level-up-green);
}

.theme-dark .menu-Sp6bN1 {
	background-color: var(--panel-bg-color);
}

.theme-dark .menu-Sp6bN1 .separator-2zcjq8 {
	background-color: var(--level-up-green);
}

.theme-dark .itemToggle-S7XGOQ {
	fill: var(--level-up-green);
}
